.box{
    flex-direction: row;
}

.box2{
    flex-direction: column;
}

.box3{
    display: flex;
}

/*Card
                        <div className="cardbox">
                            <div className="number">Drones</div>
                            <div className="number">40</div>
                        </div>
                        <div className="cardbox">
                            <div className="number">Drones</div>
                            <div className="number">40</div>
                        </div>
*/
.cardbox {
    width: 150px;
    height: 120px;
    background-color: #4b83cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 6px 7px -3px rgba(0, 0, 0, 0.35);
  }
  
  .text-content {
    text-align: left; 
    flex-direction: "column"; float: 'left'; margin-right: '20px'
  }

  .number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f0f0f0;
  }

  .logo {
    width: 70px; 
    height: 60px; 
    margin-bottom: 10px; 
    margin-right: 10px;
  }

  .location{
    flex-direction: column;
  }

  .location2{
    display: flex; justify-content: center;
    width: 220px;
    height: 120px;
    background-color: #4b83cd;align-items: center;
    border: 1px solid #ccc;
  }

  .location3{
    flex-direction: row;
    margin: 10px;
    border-radius: 5px;
  }

/*Circle
.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #4b83cd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
  }
  
  .circle-content {
    text-align: center;
  }
  
  .value {
    font-size: 24px;
    font-weight: bold;
  }
  
  .label {
    font-size: 16px;
  }
  
  //Circle
  interface CircleProps {
    value: number;
    label: string;
  }
  
  const Circle: React.FC<CircleProps> = ({ value, label }) => {
    return (
      <div className="circle">
        <div className="circle-content">
          <div className="value">{value}</div>
          <div className="label">{label}</div>
        </div>
      </div>
    );
  };

                        <Circle value={40} label="Drones" />
                        <Circle value={64} label="Batteries" />
                        <Circle value={36} label="Equipment" />
                        <Circle value={37} label="Locations" />
  */